page-home {

}
ion-title{
    .toolbar-title {
        position: relative;
        padding-left: 110px;
        height: 48px;
        span {
            display: block;
            line-height: 48px;
            text-align: center;
            font-size: 16px;
        }
    }
    img {
        height: 48px;
        width: auto;
        display: block;
        position: absolute;
        left: 12px;
        top: 0;
    }
}
ion-navbar .toolbar-background {
    background: white;
} 